.dashBoardCard {
    width: 100%;
    margin: 30px;    
    color: #3F51B5 !important;
    font-weight: 500;
    text-align: center;
}

.dashBoardCard:hover {
    box-shadow: 0 0 8pt 4pt #D3D3D3;
    outline-width: 0px;
}

.addOnCard {
  cursor: pointer;
}

.doctorsCount {
  // background-color: #3F51B5;
  border: 2px dashed #3F51B5;  
  border-radius: 50%;
  width: 35px;
  height: 35px;  
  color: #3F51B5;
  margin: auto;
  font-size: larger;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Structure */
table {
    width: 100%;     
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .example-container {
    height: 400px;
    overflow: auto;
  }

  .sticky-paginator {
    position: sticky;
    bottom: 0;
    z-index: 1;
    background-color: #fff;
  }

  .listCard {
    // width: 100%;    
    // overflow: hidden;
  }
