<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-divider></mat-divider>
    <mat-nav-list>
      <a routerLinkActive="activeMenu" routerLink="/home" mat-list-item><mat-icon>home</mat-icon>&nbsp; Home</a>
      <a routerLinkActive="activeMenu" routerLink="/doctor" mat-list-item><mat-icon>diversity_1</mat-icon>&nbsp; Doctor</a>
      <a routerLinkActive="activeMenu" routerLink="/patient" mat-list-item><mat-icon>personal_injury</mat-icon>&nbsp; Patient</a>
      <a routerLinkActive="activeMenu" routerLink="/staff" mat-list-item><mat-icon>group_add</mat-icon>&nbsp; Staff</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>            
      <span>Hospital Management System</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
